*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul{
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #555;
}

p{
	color: #555;
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300 px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1{
	font-size: 40px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#fff, #add8e6);
}

.header .row{
	margin-top: 70px;
}

.services{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	padding: 10px;
	min-width: 250px;
	margin-bottom: 30px;
	transition: transform 0.5s;
}

.col-3 img{
	width: 100%;
	cursor: pointer;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-3:hover{
	transform: translateY(-10px);
}

/*----brands--------*/
.brands{
	margin: 100px auto;
}

.col-4{
	width: 106px;
}

.col-4 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-4 img:hover{
	filter: grayscale(0);
}

/*------footer-----------*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 30px 0 5px;
}

.footer p{
	color: #8a8a8a;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
}

.footer-col-2{
	flex: 1;
	text-align: center;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

.footer-col-4{
	margin-top: 30px;
}

ul{
	list-style-type: none;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-top: 90px;
	margin-left: 20px;
	display: none;
}

.services-tab{
	background: radial-gradient(#fff, #add8e6);
}
.services-tab h2{
	text-align: center;
}

.vnm{
	background: radial-gradient(#fff, #add8e6);
}

.vnm-col-1{
	text-align: center;
}

.vnm-col-2{
	margin-top: 20px;
}
.vnm-col-2 h2{
	text-align: center;
}

.vnm-col-2 ul li{
	list-style-type: circle;
	text-align: left;
}

.about{
	background: radial-gradient(#fff, #add8e6);
}

.about img{
	margin-left: 210px;
	width: 30%;
}

.about h2, .about p{
	margin-left: 650px;
}

.address{
	background: radial-gradient(#fff, #add8e6);
}

.address h2, .address p{
	margin-left: 460px;
}
.add-col-2{
	margin-top: 20px;
	margin-right: 300px;
}
.details{
	background: radial-gradient(#fff, #add8e6);
}
.det-col-1 p{
	margin-right: 2340px;
	font-size: 9px;
}
/*----------media query for menu-----------------*/

@media only screen and (max-width: 800px){
		nav ul{ 
			top: 150px;
			left: 0;
			background: #333;
			width: 100%;
			overflow: hidden;
			transition: max-height 0.5s;
		}
		
		nav ul li{
			display: block;
			margin-right: 50px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		nav ul li a{
			color: #fff;
		}
		
		.menu-icon{
			display: block;
			cursor: pointer;
		}
}

/*--------media query for less than 600 screen size-----*/

@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4, .det-col-1, .add-col-1, .add-col-2{
		flex-basis: 100%;
	}
}