*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul{
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #555;
}

p{
	color: #555;
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300 px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1{
	font-size: 40px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#fff, #add8e6);
}

.header .row{
	margin-top: 70px;
}

.services{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	padding: 10px;
	min-width: 250px;
	margin-bottom: 30px;
	transition: transform 0.5s;
}

.col-3 img{
	width: 100%;
	cursor: pointer;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-3:hover{
	transform: translateY(-10px);
}

/*----brands--------*/
.brands{
	margin: 100px auto;
}

.col-4{
	width: 106px;
}

.col-4 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-4 img:hover{
	filter: grayscale(0);
}

/*------footer-----------*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 30px 0 5px;
}

.footer2{
	background: #000;
	color: #8a8a8a;
	font-size: 10px;
	padding: 3px 75px 0px;
}

.footer2-col-1{
	flex: 1;
	text-align: left;
}

.footer p{
	color: #8a8a8a;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
}

.footer-col-2{
	flex: 1;
	text-align: center;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

.footer-col-4{
	margin-top: 30px;
}

ul{
	list-style-type: none;
}

.copyright{
	text-align: center;
	margin-top: 3px;
}

.menu-icon{
	width: 28px;
	margin-top: 90px;
	margin-left: 20px;
	display: none;
}

.services-tab{
	background: radial-gradient(#fff, #add8e6);
}
.services-tab h2{
	text-align: center;
}

.vnm{
	background: radial-gradient(#fff, #add8e6);
}

.vnm-col-1{
	text-align: center;
}

.vnm-col-2{
	margin-top: 20px;
}
.vnm-col-2 h2{
	text-align: center;
}

.vnm-col-2 ul li{
	list-style-type: circle;
	text-align: left;
}

.about{
	background: radial-gradient(#fff, #add8e6);
}
.about{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.address{
	background: radial-gradient(#fff, #add8e6);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.add-col-2{
	margin-top: 20px;
	margin-right: 300px;
}

.fade-in-container{
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.query {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.submit:hover{
	cursor: pointer;
}

.contact{
	display: inline-block;
}

.contact h2{
	text-align: center;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
/*----------media query for menu-----------------*/

@media only screen and (max-width: 800px){
		nav ul{ 
			top: 150px;
			left: 0;
			background: #333;
			width: 100%;
			overflow: hidden;
			transition: max-height 0.5s;
		}
		
		nav ul li{
			display: block;
			margin-right: 50px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		nav ul li a{
			color: #fff;
		}
		
		.menu-icon{
			display: block;
			cursor: pointer;
		}
}

/*--------media query for less than 600 screen size-----*/

@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4, .det-col-1, .add-col-1, .add-col-2{
		flex-basis: 100%;
	}
}